# .env
#Default Provider
DEFAULT_AI_PROVIDER=

# OpenAI
OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL=

# Anthropic
ANTHROPIC_API_KEY=
ANTHROPIC_BASE_URL=
ANTHROPIC_AUTH_TOKEN=
ANTHROPIC_MODEL=

#OLLAMA
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:3b

# Gemini
GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_BASE_URL=

#MONGO-DB
LOCAL_MONGO_URI=mongodb://127.0.0.1:27017/onhandl
PRODUCTION_MONGO_URI=
#JWT
JWT_SECRET=


#EMAIL
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=


#Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_PORT=3002
TELEGRAM_WEBHOOK_PATH=/tg-hook
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_WEBHOOK_DOMAIN=

CLIENT_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3001/api/auth/google/callback


